services:
  smhmwebapi:
    build:
        context: .
        dockerfile: Dockerfile
    ports:
        - "8080:8080"
    environment:
        - ASPNETCORE_ENVIRONMENT=Production
        - ConnectionStrings__SmartHomeDbContext=Host=db;Database=smhm_database;Username=postgres;Password=140779
    container_name: smhm_web_api
    depends_on:
     db:
      condition: service_healthy

  db:
    image: postgres:17
    ports:
        - "5432:5432"
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: 140779
        POSTGRES_DB: smhm_database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
        - db_data:/var/lib/postgresql/data
    container_name: db_postgresql_container

volumes:
    db_data: